---
import WorkDetailContent from '../../components/display/workdetailcontent.jsx';
import Layout from '../../layouts/Layout.astro';

interface Work {
  id: number;
  work_title: string;
  work_subtitle: string;
  work_desc: string;
  work_detail: string;
  work_people: string;
  work_category: string;
  work_img: string[];
  work_main_img: string;
  work_logo_img: string;
}

export async function getStaticPaths() {
  try {
    const response = await fetch('https://dama-backend.vercel.app/works');
    const works: Work[] = await response.json();

    return works.map((work) => ({
      params: { name: work.work_title.toLowerCase().replace(/[^a-z0-9]+/g, '-') },
      props: { work },
    }));
  } catch (error) {
    console.error('Error fetching works for getStaticPaths:', error);
    return [];
  }
}

const { work } = Astro.props as { work: Work };
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{work.work_title}</title>
  </head>

  <Layout title="Works Page">
    <body>
      <WorkDetailContent work={work} client:load />
    </body>
  </Layout>
</html>