/* global.css */
@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('/fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
         url('/fonts/AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('/fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
         url('/fonts/AvenirNextLTPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('/fonts/AvenirNextLTPro-It.woff2') format('woff2'),
         url('/fonts/AvenirNextLTPro-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

:root {
    --font-1: 'EB Garamond', serif;
    --font-2: 'Avenir Next LT Pro', sans-serif;

    --color-1: #222;
    --color-2: #3A3A3A;
    --color-3: #7A7570;
    --color-4: #EAE9E6;
    --color-5: #F5F4F2;
    --primary-color: #666666;
    --success-color: #999999;
    --error-color: #BDBDBD;
    --gray-color: #707070;
    --accent-color-1: #A09E9A;
    --accent-color-2: #C2C0BD;
    --accent-color-3: #D4D2CF;

    /* Ukuran Font */
    --font-size-large: 3rem; /* 32px jika base font adalah 16px */
    --font-size-medium: 2rem; /* 19.2px jika base font adalah 16px */
    --font-size-default: 1rem; /* 16px */
    --font-size-small: 0.8rem; /* 12.8px jika base font adalah 16px */

    /* Padding */
    --padding-large: 2rem; /* 32px */
    --padding-medium: 1rem; /* 16px */
    --padding-small: 0.5rem; /* 8px */

    /* Margin */
    --margin-large: 2rem; /* 32px */
    --margin-medium: 1rem; /* 16px */
    --margin-small: 0.5rem; /* 8px */
}