/* myhomeadmin.module.css */

.adminContainer {
    padding: 20px;
    text-align: center;
    font-family: var(--font-2);
    color: var(--color-2);
    background-color: var(--color-4);
}

.adminContainer h2 { /* Menambahkan margin bawah pada judul */
    margin-bottom: 20px; /* Sesuaikan nilai sesuai kebutuhan Anda */
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.adminButton {
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex-grow: 1;
    font-family: var(--font-2);
    margin: 5px;
}

.adminButton:hover {
    background-color: var(--color-2);
}

.adminButton.active {
    background-color: var(--success-color);
}

@media (max-width: 600px) {
    .buttonContainer {
        flex-direction: column;
    }

    .adminButton {
        width: 100%;
        margin: 5px 0;
    }
}