/* myhomeadmin.module.css */

.adminContainer {
    padding: 30px;
    text-align: center;
    font-family: var(--font-2);
    color: var(--color-2);
    background-color: var(--color-4);
}

.adminContainer h2 {
    margin-bottom: 20px;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.goToContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.showContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.adminButton {
    padding: 10px 15px;
    background-color: var(--color-4);
    color: var(--color-2);
    border: none;
    cursor: pointer;
    flex-grow: 1;
    font-family: var(--font-2);
    margin: 5px;
    border: 1px solid #000;
    font-size: 12px;
}

.adminButton.goToButton {
    background-color: var(--color-4);
    border: none;
    font-family: var(--font-1);
    font-weight: bold;
    border-bottom: 1px solid #000;
    font-size: 20px;
}

.adminButton:hover {
    background-color: var(--color-2);
    color: var(--color-5);
}

.adminButton.active {
    background-color: var(--color-2);
    color: var(--color-5);
}

@media (max-width: 600px) {
    .buttonContainer,
    .goToContainer,
    .showContainer {
        flex-direction: column;
    }

    .adminButton {
        width: 100%;
        margin: 5px 0;
    }
}