.adminContainer {
    padding: var(--padding-medium);
    max-width: 1200px;
    margin: 0 auto;
    font-family: var(--font-2);
    color: var(--color-2);
    background-color: var(--color-4);
}

.adminContainer h2 {
    margin-bottom: var(--margin-medium);
    text-align: center;
    color: var(--color-1);
    font-size: var(--font-size-medium);
    font-weight: bold;
}

.message {
    padding: var(--padding-small);
    margin-bottom: var(--margin-small);
    border-radius: 5px;
    text-align: center;
}

.message.success {
    background-color: var(--accent-color-3);
    color: var(--color-2);
    border: 1px solid var(--color-3);
}

.message.error {
    background-color: var(--accent-color-2);
    color: var(--color-2);
    border: 1px solid var(--color-3);
}

.uploadButton {
    background-color: var(--primary-color);
    color: white;
    padding: var(--padding-small) var(--padding-medium);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: var(--margin-medium);
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.workForm {
    border: 1px solid var(--color-3);
    padding: var(--padding-medium);
    border-radius: 5px;
    margin-bottom: var(--margin-medium);
    background-color: var(--color-5);
}

.workForm label {
    display: block;
    margin-bottom: var(--margin-small);
    font-weight: bold;
    color: var(--color-1);
}

.inputField,
.workForm textarea {
    width: calc(100% - 22px);
    padding: var(--padding-small);
    margin-bottom: var(--margin-small);
    border: 1px solid var(--color-3);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: var(--font-size-default);
    color: var(--color-1);
}

.workForm textarea {
    height: 150px;
}

.imageUploadContainer {
    margin-bottom: var(--margin-small);
    text-align: center;
}

.imageUploadBox label {
    background-color: var(--primary-color);
    color: white;
    padding: var(--padding-small) var(--padding-small);
    border-radius: 5px;
    cursor: pointer;
}

.imagePreview {
    width: 80px; /* Ukuran gambar 1:1, lebih kecil */
    height: 80px;
    margin-top: var(--margin-small);
    border-radius: 5px;
    object-fit: cover; /* Mengisi kotak dengan memotong gambar jika perlu */
}

.actionButton,
.cancelButton,
.deleteButton,
.addButton,
.removeButton {
    padding: var(--padding-small) var(--padding-medium);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: var(--margin-small);
    margin-bottom: var(--margin-small);
    font-weight: bold;
}

.actionButton {
    background-color: var(--primary-color);
    color: white;
}

.cancelButton {
    background-color: var(--gray-color);
    color: white;
}

.deleteButton {
    background-color: var(--error-color);
    color: white;
}

.addButton,
.removeButton {
    background-color: var(--success-color);
    color: white;
}

.removeButton {
    background-color: var(--error-color);
}

.workList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--margin-medium);
}

.workItem {
    border: 1px solid var(--color-3);
    padding: var(--padding-medium);
    border-radius: 5px;
    margin-bottom: var(--margin-medium);
    background-color: var(--color-5);
}

.workContent h3,
.workContent h4 {
    margin-bottom: var(--margin-small);
    color: var(--color-1);
    font-weight: bold;
}

.workContent p {
    margin-bottom: var(--margin-small);
    color: var(--color-1);
}

.workImage {
    width: 100px; /* Ukuran gambar 1:1 */
    height: 100px;
    border-radius: 5px;
    margin-top: var(--margin-small);
    object-fit: cover; /* Mengisi kotak dengan memotong gambar jika perlu */
}

.workActions {
    margin-top: var(--margin-small);
    text-align: right;
}

@media (max-width: 768px) {
    .workList {
        grid-template-columns: 1fr;
    }

    .actionButton,
    .cancelButton,
    .deleteButton,
    .addButton,
    .removeButton {
        width: 100%;
        margin-right: 0;
        margin-bottom: var(--margin-small);
    }
}

.workForm.editForm {
    margin-top: var(--margin-medium);
    border-color: var(--primary-color);
    background-color: var(--accent-color-3);
}

.imageCaption {
    font-weight: bold;
}

/* Search Bar Styles */
.searchBar {
    margin-bottom: var(--margin-medium);
    display: flex;
    justify-content: center;
}

.searchInput {
    padding: var(--padding-small) var(--padding-small);
    border: 1px solid var(--color-3);
    border-radius: 5px;
    width: 300px;
    font-size: var(--font-size-default);
    color: var(--color-1);
    background-color: var(--color-5);
}

.searchInput:focus {
    outline: none;
    border-color: var(--primary-color);
}