.contactContainer {
    position: relative;
    width: 100%;
    height: 800px;
    margin-top: 80px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(100);
    text-align: center;
    color: var(--color-5);
    font-family: var(--font-2);
}

.contactContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit; /* Mewarisi background-image dari .contactContainer */
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Memberikan opacity pada background image */
    z-index: -1; /* Menempatkan background image di belakang konten */
}

.contactContent {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 800px;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    margin: auto;
    padding: var(--padding-large);
    opacity: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.contactTitle {
    color: var(--color-5);
    font-size: 5em;
    margin-bottom: var(--margin-medium);
    font-weight: bold;
}

.contactSubtitle {
    font-size: 1.2em;
    margin-bottom: var(--margin-large);
}

.whatsappLink {
    color: var(--color-5);
    text-decoration: underline;
    font-size: 1.2em;
}

@media screen and (max-width: 768px) {
    .contactContainer {
        height: 800px;
        padding: 40px 20px;
    }

    .contactTitle {
        font-size: 3em;
        margin-bottom: 20px;
    }

    .contactSubtitle {
        font-size: 1em;
        margin-bottom: 30px;
    }

    .whatsappLink {
        font-size: 1em;
    }
}