.instagramContainer {
  width: 100%;
  max-width: 100vw;
  height: 400px; /* 50vh = 50% dari viewport height, sesuaikan jika perlu */
  border-top: 1px solid #000;
  max-height: 400px; /* 50vh = 50% dari viewport height, sesuaikan jika perlu */
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: center;
}

.instagramColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.instagramScroll {
  display: flex;
  gap: 10px;
  padding: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-width: 100%;
}

.instagramItem {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  scroll-snap-align: start;
  display: inline-block;
}

.instagramImage {
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.instagramItem:hover .instagramImage {
  transform: scale(1.05);
}

.instagramScroll::-webkit-scrollbar {
  display: none;
}

.loading {
  text-align: center;
  margin-top: 20px;
  font-style: italic;
  color: #888;
}

.error {
  text-align: center;
  margin-top: 20px;
  color: red;
  font-weight: bold;
}

.connectUsContainer {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .instagramContainer {
      height: 240px; /* 30vh = 30% dari viewport height, sesuaikan jika perlu */
  }

  .instagramItem {
      width: 150px;
      height: 150px;
  }

  .instagramScroll {
      padding: 10px;
  }
}