/* Gaya default untuk desktop */
.testimonialContainer {
  position: relative;
  width: 100%;
  height: 700px; /* Sesuaikan jika perlu */
  max-height: 700px; /* Sesuaikan jika perlu */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-bottom: 1.5px solid #000;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.testimonialImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 2s ease-in-out;
  will-change: opacity;
  filter: brightness(0.5);
}

.testimonialContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--color-4);
  z-index: 3;
  padding: 0 10px;
}

.testimonialContent h2 {
  font-size: 24px; /* 1.5em */
  margin-bottom: 5px;
  color: var(--color-4);
}

.testimonialContent p {
  font-size: 14px; /* 0.9em */
  margin-bottom: 10px;
  line-height: 1.4;
}

.loading,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.testimonialIndicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  z-index: 3;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.testimonialIndicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  margin: 0 3px;
  cursor: pointer;
}

.testimonialIndicator.active {
  background-color: #ccc;
}

/* Media query untuk layar dengan lebar maksimum 768px (ukuran layar mobile umum) */
@media (max-width: 768px) {
  .testimonialContainer {
    height: 500px; /* Biarkan tinggi menyesuaikan konten */
    max-height: 500px;
    padding: 20px 0; /* Tambahkan sedikit padding atas dan bawah */

  }

  .testimonialContent {
    width: 90%; /* Membuat konten lebih kecil dari lebar layar */
    height: 100%;
    padding: 20px; /* Tambahkan padding agar teks tidak terlalu mepet tepi */
    box-sizing: border-box; /* Pastikan padding tidak menambah lebar */
    align-content: center;
  }

  .testimonialContent h2 {
    font-size: 20px; /* Ukuran font yang lebih kecil */
  }

  .testimonialContent p {
    font-size: 12px; /* Ukuran font yang lebih kecil */
     /* Tingkatkan line-height untuk keterbacaan */
  }

  .testimonialIndicators {
    bottom: 20px; /* Berikan sedikit ruang dari bawah */
  }
}

