.container {
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: auto; /* 3em = 48px */
  border-bottom: 1.5px solid #000;
  max-width: 100vw;
  height: 800px; /* 80vh = 80% dari viewport height. Sesuaikan jika perlu. */
  max-height: 800px; /* 80vh = 80% dari viewport height. Sesuaikan jika perlu. */
  overflow: hidden;
}

.toworksText {
  font-size: 32px; /* 2rem = 32px */
  font-weight: bold;
}

.toworksSubText {
  font-size: 16px; /* 1rem = 16px */
  color: gray;
}

.imageGallery {
  display: flex;
  justify-content: center;
  gap: 32px; /* 2rem = 32px */
  margin-top: 20px;
}

.imageContainer {
  position: relative; /* Tetap position relative */
  overflow: hidden;
  max-height: 530px; /* Sesuaikan dengan tinggi gambar + judul */
  display: flex; /* Tambahkan flex container */
  flex-direction: column; /* Atur item di dalam container menjadi kolom */
  align-items: center; /* Atur item agar berada di tengah horizontal */
  cursor: pointer; /* Tambahkan cursor pointer karena bisa diklik */
}

.workImage {
  width: 300px;
  height: 500px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
  margin-bottom: 10px; /* Beri sedikit jarak antara gambar dan teks */
}

.imageContainer:hover .workImage {
  filter: grayscale(0%);
}

.imageTitle { /* Gaya untuk judul yang berada di bawah gambar */
  text-align: center;
  color: black; /* Atau warna lain yang Anda inginkan */
  font-size: 1rem; /* Sesuaikan ukuran font jika perlu */
  padding: 5px; /* Beri sedikit padding di sekitar teks */
  width: 100%; /* Lebar teks menyesuaikan container */
  box-sizing: border-box; /* Pastikan padding tidak menambah lebar elemen */
}

.imageOverlay {
  /* Hapus atau komentari seluruh blok .imageOverlay */
  display: none; /* Pastikan overlay tidak terlihat */
}

.buttonContainer {
  margin-top: 30px;
}

.portfolioButton {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  color: var(--color-1);
  font-size: 14px; /* 0.9rem = 14.4px */
  text-decoration: none;
  border: 1px solid var(--color-1);
  background-color: var(--color-4) ;

}

.portfolioButton:hover {
  background: var(--color-1);
  border-bottom: 1px solid #000;
  color: var(--color-4);
}

/* Media query for mobile optimization */
@media (max-width: 768px) {
  .container {
      padding: 30px; /* 2em = 32px */
      height: 100%;
      max-height: 1000px;
  }

  .imageGallery {
      flex-direction: column;
      gap: 16px; /* 1em = 16px */
      align-items: center;
      width: 100%;
  }

  .imageContainer {
      max-height: 230px; /* Sesuaikan tinggi gambar + judul pada mobile */
  }

  .workImage {
      width: 100%;
      height: 200px;
      margin-bottom: 5px; /* Sesuaikan jarak pada mobile */
  }

  .imageTitle {
      font-size: 0.8rem; /* Sesuaikan ukuran font mobile jika perlu */
      padding: 3px;
  }

  .portfolioButton {
      font-size: 11px; /* 0.7rem = 11.2px */
  }
}