.container {
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: auto; /* 3em = 48px */
  border-bottom: 1.5px solid #000;
  max-width: 100vw;
  height: 800px; /* 80vh = 80% dari viewport height. Sesuaikan jika perlu. */
  max-height: 800px; /* 80vh = 80% dari viewport height. Sesuaikan jika perlu. */
  overflow: hidden;
}

.toworksText {
  font-size: 32px; /* 2rem = 32px */
  font-weight: bold;
}

.toworksSubText {
  font-size: 16px; /* 1rem = 16px */
  color: gray;
}

.imageGallery {
  display: flex;
  justify-content: center;
  gap: 32px; /* 2rem = 32px */
  margin-top: 20px;
}

.imageContainer {
  position: relative;
  overflow: hidden;
  border: 1px solid #000;
  max-height: 500px;
}

.workImage {
  width: 300px;
  height: 500px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.imageContainer:hover .workImage {
  filter: grayscale(0%);
}

.imageOverlay {
  position: absolute;
  bottom: 0;
  padding: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.imageContainer:hover .imageOverlay {
  opacity: 1;
}

.buttonContainer {
  margin-top: 30px;
}

.portfolioButton {
  display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: var(--color-1);
    font-size: 14px; /* 0.9rem = 14.4px */
    text-decoration: none;
    border: 1px solid var(--color-1);
    background-color: var(--color-4) ;

}

.portfolioButton:hover {
  background: var(--color-1);
  border-bottom: 1px solid #000;
  color: var(--color-4);
}

/* Media query for mobile optimization */
@media (max-width: 768px) {
  .container {
      padding: 30px; /* 2em = 32px */
      height: 100%;
      max-height: 1000px;
  }

  .imageGallery {
      flex-direction: column;
      gap: 16px; /* 1em = 16px */
      align-items: center;
  }

  .workImage,
  .imageContainer {
      width: 100%;
      height: 200px;
      max-height: none;
  }

  .toworksText {
      font-size: 19px; /* 1.2rem = 19.2px */
  }

  .toworksSubText {
      font-size: 11px; /* 0.7rem = 11.2px */
  }

  .portfolioButton {
      font-size: 11px; /* 0.7rem = 11.2px */
  }
}