.visionMissionContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    height: 300px;
    min-height: 300px;
    box-sizing: border-box;
    border-bottom: 1.5px solid #000;
}

.visionSection,
.missionSection {
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.visionSection h2,
.missionSection h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.visionSection p,
.missionSection p {
    font-size: 16px;
    line-height: 1.6;
}

/* Optimasi untuk tampilan mobile */
@media (max-width: 768px) {
    .visionMissionContainer {
        height: auto; /* Ubah tinggi menjadi auto */
        max-height: none; /* Hapus max-height */
        padding: 30px; /* Kurangi padding untuk mobile */
    }

    .visionSection h2,
    .missionSection h2 {
        font-size: 20px; /* Ukuran font heading lebih kecil */
    }

    .visionSection p,
    .missionSection p {
        font-size: 14px; /* Ukuran font paragraf lebih kecil */
         /* Line height lebih kecil */
    }
}