---
// Importing the DamaDisplay component
import DamaDisplay from '../components/display/damadisplay.jsx';
import Header from '../components/display/header.jsx'; // Import komponen Header

interface Props {
    title: string;
}

// Extracting title from the Astro props
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <style is:global>
        @import '../styles/global.css';
        @import '../styles/layout.css';
    </style>
</head>
<body>
    <Header client:load/> {/* Hapus client:load */}

    <main>
        <slot />
    </main>

    <DamaDisplay client:load/>

</body>
</html>